
* {
  box-sizing: border-box;
}

.product-detail {
  display: grid;
  grid-template: repeat(5, 20%) / repeat(5, 20%);
  margin: auto;
  width: 80%;
  min-width: 50rem;
  height: 50rem;
  border: 3px solid grey;
  border-radius: 3px;
}

.product-info {
  grid-row: 1 / span 4;
  grid-column: 4 / 6;

  margin: 5px;
  border: 3px solid grey;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.product-category {
  font-size: 1em;
}

.product-name {
  font-size: 3em;
  font-weight: 600;
}

.price {
  font-size: 1em;
}

.product-desc {
  grid-area: 5 / 1 / 6 / 4;
  margin: 5px;
  border: 3px solid grey;
  border-radius: 3px;
}

.social-media {
  font-size: 1em;
}

.image-gallery {

  grid-row: 1 / 5;
  grid-column: 1 / 4;
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;


  border: 3px solid grey;
  border-radius: 3px;
}

.main-image {
  position: absolute;
  align-self: center;
  max-height: 37rem;
  max-width: 40rem;
  z-index: 0;
}

.thumbnails {
  position: relative;
  align-self: flex-start;
  flex-wrap: wrap;
  margin: .5rem;
  width: 3rem;
  z-index: 1;
}