
* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;sans-serif;
  font-weight: 400;
}

.product-detail {
  display: grid;
  grid-template: repeat(5, 20%) / repeat(5, 20%);
  margin: auto;
  width: 74rem;
  min-width: 50rem;
  height: 50rem;
  border: 3px solid grey;
}

.product-info {
  grid-row: 1 / span 4;
  grid-column: 4 / 6;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  margin: 5px;
  /* border: 1px solid grey; */
  font-size: 1em;
  font-weight: 300;
}

.style-name-display {
  margin: 0.5rem;
}

.styles {
  display: flex;
  width: 24rem;
  flex-wrap: wrap;
  /* border: 1px solid grey; */
}

.style-image:hover {
  border: 3px solid grey;
  border-radius: 50%;
}

.style-image {
  border-radius: 50%;
  border: 1px solid grey;
  width: 4rem;
  height: 4rem;
  margin: .75rem
}

.style-image.clicked {
  border: 3px solid grey;
}

.drop-downs {
  width: 28rem;
  height: 10rem;
  /* border: 1px solid grey; */
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
}

.size-menu {
  height: 4rem;
  width: 16rem;
  margin: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

.qty-menu {
  height: 4rem;
  width: 8rem;
  margin: 0.5rem;

  font-size: 1rem;
  text-align: center;
}

.cart-button {
  height: 4rem;
  width: 20rem;
  margin: 0.5rem;

  font-size: 1rem;
  text-align: center;
}

.product-category {
  font-size: 1em;
  font-weight: 400;
}

.product-name {
  font-size: 3em;
  font-weight: 600;
}

.price {
  font-size: 1em;
  font-weight: 400;
}

.product-overview {
  grid-area: 5 / 1 / 6 / 4;
  margin: .25rem;
  border: 1px solid grey;
  font-family: 'Source Sans Pro', sans-serif;

}

.product-slogan {
  margin: .5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.product-desc {
  margin: .5rem;
  font-size: 1rem;
  font-weight: 400;
}

.social-media {
  font-size: 1em;
}

.image-gallery {
  grid-row: 1 / 5;
  grid-column: 1 / 4;

  margin: 5px;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10% 90%;

  background-color:hsl(0, 0%, 90%)
}

.image-area {
  grid-row: 1 / 2;
  grid-column: 2 / 6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px solid gray;
}

.main-image {
  max-height: 35rem;
  max-width: 35rem;
}

.thumbnails {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.thumbnail {
  width: 3rem;
  margin: .5rem;
  z-index: 1;
}

.thumbnail:hover {
  border: 3px solid grey;
}
